{% extends 'base.html' %}

{% block title %}all books{% endblock %}

{% block content %}
<table>
  <tr>
    <th>ISDN</th>
    <th>title</th>
    <th>edition</th>
    <th>year</th>
    <th>genre</th>
  </tr>
  {% for book in books %}
    <tr>
      <td>{{book.isdn}}</td>
      <td><a href="{% url 'book' book.id %}">{{book.title}}</a></td>
      <td>{{book.edition}}</td>
      <td>{{book.year}}</td>
      <td>{{book.genre}}</td>
      <td><button onclick="deletedata()"><a href="{% url 'deleteBook' book.id %}">Delete</a></button></td>
    </tr>
  {% endfor %}
</table>
<script src="/static/js/function.js"></script>

{% endblock %}
