<!doctype html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation">
          <li class="navigation-items"> 
            <a class="navigation-items-links" id="mytitle" href="#"> Book Application </a>
          </li>
          <li class="navigation-items"> 
            <a class="navigation-items-links" href="{% url 'index' %}"> HOME </a> </li>
          <li class="navigation-items">
            <a class="navigation-items-links" href="{% url 'allAuthor' %}"> AUTHORS </a>
          </li>
          <li class="navigation-items">
            <a class="navigation-items-links" href="{% url 'allBook' %}"> BOOKS </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content" name="content">
      {% block content %}{% endblock %}
    </div>
    <script src="/static/js/function.js"></script>
  </body>
</html>
