{% extends 'base.html' %}

{% block title %}new book{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <!-- {{form.as_table}} -->
  <table>
    <tr>
      <th>isdn</th>
      <td>{{form.isdn}}</td>
    </tr>
    <tr>
      <th>title</th>
      <td>{{form.title}}</td>
    </tr>
    <tr>
      <th>genre</th>
      <td>{{form.genre}}</td>
    </tr>
    <tr>
      <th>year published</th>
      <td>{{form.year}}</td>
    </tr>
    <tr>
      <th>edition</th>
      <td>{{form.edition}}</td>
    </tr>
  </table>
  <input type="submit" value="submit">
</form>

{% endblock %}
